.Rproj.user
.Rhistory
.RData
.Ruserdata
ron_working_notes.Rmd
/Data/
*.nb.html
Reports/
storage bin
local*.csv
/oneOffCode*
/customDataRelease*
/Figs_N_Tables*
.ipynb_checkpoints
*.csv
gps.py
get_gscap_source*
utils.py
weather.py
__pycache__